<launch>
  <arg name="rviz" default="true"/>
  <arg name="enable" default="false"/>
  <arg name="csv_path" default=""/>
  <include file="$(find super_lio)/launch/M2DGR.launch">
    <arg name="rviz" value="$(arg rviz)"/>
  </include>
  <rosparam file="$(find super_lio)/config/geometry.yaml" command="load"/>
  <param name="/lio/geometry/enable_degeneracy" value="$(arg enable)"/>
  <param name="/lio/geometry/enable_bump_layer" value="$(arg enable)"/>
  <param name="/lio/geometry/enable_informed_sampling" value="$(arg enable)"/>
  <param name="/lio/geometry/enable_bump_measurement" value="$(arg enable)"/>
  <!-- Degeneracy alone is not evidence of better bump measurement accuracy. -->
  <param name="/lio/geometry/bump_degenerate_variance_factor" value="1.0"/>
  <param name="/lio/geometry/csv_path" value="$(arg csv_path)"/>
</launch>
